[Unit]
Description=snakepit-worker - Machine learning job scheduler worker service
Documentation=https://github.com/mozilla/snakepit
After=network.target

[Service]
User=root
WorkingDirectory=/root
Type=simple
ExecStart=/usr/bin/run.sh

[Install]
WantedBy=multi-user.target