[Unit]
Description=snakepit-worker - Machine learning job scheduler worker service
Documentation=https://github.com/mozilla/snakepit
After=network.target

[Service]
WorkingDirectory=/code
Type=simple
ExecStart=/usr/bin/run.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target