[Unit]
Description=snakepit-worker - Machine learning job scheduler worker service
Documentation=https://github.com/mozilla/snakepit
After=data.mount

[Service]
User=root
WorkingDirectory=/data
Type=simple
ExecStart=/usr/bin/run.sh

[Install]
WantedBy=multi-user.target