[Unit]
Description=snakepit - Machine learning job scheduler
Documentation=https://github.com/mozilla/snakepit
After=network.target

[Service]
Environment=NODE_ENV=production
WorkingDirectory=/code
Type=simple
ExecStart=/usr/bin/node /code/src/service.js
Restart=on-failure

[Install]
WantedBy=multi-user.target