[Unit]
Description=snakepit-daemon - Machine learning job scheduler daemon service
Documentation=https://github.com/mozilla/snakepit
After=network.target

[Service]
User=worker
WorkingDirectory=/data
Type=simple
ExecStart=/usr/bin/run.sh

[Install]
WantedBy=multi-user.target